<h2>We are racing today in the iRacing Endurance Series at Circuit of the Americas (12H)</h2>
<h2>Qualifying: 13:00GMT / 14:00BST</h2>
<h2>Race: 13:30 / 14:30</h2>
  <table style="width:800px">
    <tr>
      <td valign="top", width=20%, text-align="center">
        <button class="button greenbutton" onclick="window.open('https://twitch.tv/hatracer','_blank')"/>
        Live Stream
        </button>
      </td>
      <!--
      <td valign="top", width=20%, text-align="center">
        <button class="button greenbutton" onclick="window.open('https://twitch.tv/matstace','_blank')"/>
        Live Stream Two
        </button>
      </td>
      --!>
      <td valign="top", width=20%, text-align="center">
        <button class="button orangebutton" onclick="window.open('http://timing.gumptionracing.uk','_blank')"/>
        Live Race Timing
        </button>
      </td>
    </tr>
  </table>
