<h2>We are racing this weekend in the {{ current_race_name }}</h2>
<h2>Qualifying: {{ qual_start_gmt }} GMT
{% if ansible_date_time.tz == 'BST' %}
 / {{ qual_start_bst }} BST</h2>
{% else %}
</h2>
{% endif %}

<h2>Race: {{ race_start_gmt }} GMT
{% if ansible_date_time.tz == 'BST' %}
 / {{ race_start_bst }} BST</h2>
{% else %}
</h2>
{% endif %}
  <table style="width:800px">
    <tr>
{% if matstace %}
      <td valign="top", align="center", width=20%, text-align="center">
        <button class="button greenbutton" onclick="window.open('https://twitch.tv/hatracer','_blank')"/>
        Live Stream
        </button>
      </td>
{% endif %}
{% if hatracer %}
      <td valign="top", align="center", width=20%, text-align="center">
        <button class="button greenbutton" onclick="window.open('https://twitch.tv/jjwolf36','_blank')"/>
        Live Stream 2
        </button>
      </td>
{% endif %}
{% if jjwolf36 %}
      <td valign="top", align="center", width=20%, text-align="center">
        <button class="button greenbutton" onclick="window.open('https://twitch.tv/leclass','_blank')"/>
        Live Stream 3
        </button>
      </td>
{% endif %}
      <td valign="top", align="center", width=20%, text-align="center">
        <button class="button orangebutton" onclick="window.open('http://timing.gumptionracing.uk','_blank')"/>
        Live Race Timing
        </button>
      </td>
    </tr>
  </table>
