<h2>We are RACING!!</h2>
  <table style="width:800px">
    <tr>
      <td valign="top", width=20%, text-align="center">
        <button class="button greenbutton" onclick="window.open('https://twitch.tv/hatracer','_blank')"/>
        Live Stream One
        </button>
      </td>
      <!--
      <td valign="top", width=20%, text-align="center">
        <button class="button greenbutton" onclick="window.open('https://twitch.tv/matstace','_blank')"/>
        Live Stream Two
        </button>
      </td>
      --!>
      <td valign="top", width=20%, text-align="center">
        <button class="button orangebutton" onclick="window.open('http://timing.gumptionracing.uk','_blank')"/>
        Live Race Timing
        </button>
      </td>
    </tr>
  </table>
